#voltar {
  text-align: center;

  position: absolute;
  left: 0;
  right: 10;
  top: 3%;
  transform: translateY(-50%);
}
#cabeçalho {
  text-align: center;

  position: absolute;
  left: 5%;
  right: 0;
  top: 10%;
  transform: translateY(-50%);
}
#cabeçalho1 {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
 top: 30%;
  transform: translateY(-50%);
}

