

<ion-content color="secondary">
  <div id="imagem">
  <img src="assets/imagens/logo.png"/>
</div>
<div id="cabeçalho2">
  <ion-card-title><font face="impact" color="white"> <h1>Seja Bem-Vindo</h1></font></ion-card-title>
</div>
<div id="cabeçalho3">
  <ion-card-title><h5>Login para Continuar</h5></ion-card-title>
</div>

  <div id="login">
    
  
    <ion-router-link color="tertiary" href="login">
<ion-button>INICIAR SESSÃO</ion-button>
</ion-router-link>
</div>

<div id="cabeçalho5">
  <ion-card-title><h5>É novo no App? Cadastra-se</h5></ion-card-title>
</div>

<div id="login2">
  
  <ion-router-link color="tertiary" href="criarumaconta">
  <ion-button>CRIAR UMA CONTA</ion-button>
</ion-router-link>
  </div>


  <hr>

  <div id="login3">
    <ion-router-link href="#">
      <ion-button icon-left color="danger" margin-top><ion-icon name="logo-google"></ion-icon>&nbsp;
        Entrar com o Google
        </ion-button>
</ion-router-link>
</div>


<div id="cabeçalho4">
  <ion-card-title>ou</ion-card-title>
</div>

<div id="login4">
  
  <ion-router-link href="#">
    <ion-button icon-left color="azul" margin-top><ion-icon name="logo-facebook"></ion-icon>&nbsp;
      Entrar com o Facebook
      </ion-button>
</ion-router-link>
  </div>
  
  
</ion-content>
