
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <fieldset>
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="assets/imagens/capivara.jpg" />
        </ion-avatar>
        <ion-card-title><font face="italic" color="black"> <h4>João Silva</h4></font></ion-card-title>
      </fieldset>
      </ion-item>
    </ion-toolbar>
      <ion-button fill="clear"><ion-icon name="clipboard-outline"></ion-icon>&nbsp;minhas vagas</ion-button>
      <ion-button fill="clear"><ion-icon name="add-outline"></ion-icon>&nbsp;Novas Publicações</ion-button>
      <ion-button fill="clear"><ion-icon name="person-circle-outline"></ion-icon>&nbsp;Configurações da Conta</ion-button>
      <ion-button fill="clear"><ion-icon name="information-outline"></ion-icon>&nbsp;Ajuda</ion-button>
   
  </ion-header>
  
  

</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          
        </ion-menu-button>
      </ion-buttons>
      <ion-title>Vagas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-searchbar placeholder="Cargos, palavras-chaves"></ion-searchbar>
<ion-searchbar search-icon="location-outline" placeholder="Local"></ion-searchbar>
<div id="buscar">
<ion-button expand="block">Buscar</ion-button>
</div>
<div id="buscar2">
<ion-title>Vagas&nbsp;&nbsp;<ion-icon name="options-outline"></ion-icon></ion-title>
</div>
  </ion-content>
</div>
<body>
<div>
    <ion-list>
        <ion-item *ngFor="let c of vagas">{{c.vagas}}</ion-item>
    </ion-list>

  </div>
</body>